body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f2f5;
    display: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

.container {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;


}

.form-toggle {
    display: flex;
    margin-bottom: 25px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #eee;
}

.form-toggle button {
    flex: 1;
    padding: 12px 15px;
    border: none;
    background-color: transparent;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #555;
}

.form-toggle button.active {
    background-color: #226160;
    color: #fff;
    box-shadow: 0 4px 10px rgba(98, 0, 238, 0.2);
}

.auth-form {
    display: none;
    /* Esconde os formulários por padrão */
    flex-direction: column;
    gap: 15px;
}

.auth-form.active {
    display: flex;
    /* Mostra o formulário ativo */
}

.auth-form h2 {
    font-size: 1.8em;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

.input-group {
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 0.9em;
    color: #555;
    margin-bottom: 5px;
}

.input-group input[type="email"],
.input-group input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1em;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.input-group input[type="email"]:focus,
.input-group input[type="password"]:focus {
    border-color: #226160;
    outline: none;
}

.submit-button {
    width: 100%;
    padding: 12px;
    background-color: #226160;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    margin-top: 15px;
}

.submit-button:hover {
    background-color: #226160;
    transform: translateY(-2px);
}

.social-text {
    margin: 25px 0 15px;
    color: #777;
    font-size: 0.9em;
    position: relative;
}

.social-text::before,
.social-text::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background-color: #ccc;
}

.social-text::before {
    left: 0;
}

.social-text::after {
    right: 0;
}

.social-login {
    display: flex;
    flex-wrap: wrap;
    /* Permite quebrar linha em telas menores */
    justify-content: center;
    gap: 10px;
}

.social-button {
    flex: 1;
    /* Permite que os botões se expandam */
    min-width: 120px;
    /* Garante um tamanho mínimo */
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    font-size: 0.9em;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: background-color 0.3s ease, transform 0.1s ease;
    color: #fff;
}

.social-button i {
    font-size: 1.1em;
}

.social-button.google {
    background-color: #db4437;
    /* Google red */
}

.social-button.google:hover {
    background-color: #c23321;
    transform: translateY(-2px);
}

.social-button.facebook {
    background-color: #4267b2;
    /* Facebook blue */
}

.social-button.facebook:hover {
    background-color: #226160;
    transform: translateY(-2px);
}

.social-button.github {
    background-color: #333;
    /* GitHub dark */
}

.social-button.github:hover {
    background-color: #000;
    transform: translateY(-2px);
}

.auth-status {
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
    font-size: 0.9em;
    color: #333;
    background-color: #f0f0f0;
    /* Adicionado para a animação da mensagem */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.auth-status.show {
    opacity: 1;
    visibility: visible;
}

.auth-status.success {
    background-color: #e6ffed;
    color: #1a7d3c;
    border: 1px solid #a3e6b7;
}

.auth-status.error {
    background-color: #ffe6e6;
    color: #d12f2f;
    border: 1px solid #e6a3a3;
}







.banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin-bottom: 2%;
}

.banner .slider {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 30s linear infinite;
    z-index: 2;
}

@keyframes autoRun {
    from {
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }

    to {
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}

.banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform:
        rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(450px);
}

.banner .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*
--- ESTILOS PARA A SEÇÃO DE DOWNLOAD DO APP ---
*/

.app-download-section {
    background-color: #f0f2f5;
    /* Cor de fundo semelhante ao body */
    padding: 10px 10px;
    text-align: center;
    margin-top: 10px;
    border-radius: 16px;
}

.app-download-section h2 {
    font-size: 1.8em;
    font-weight: 600;
    color: #333;
    margin-bottom: 15px;
    
}

.app-download-section p {
    font-size: 1.1rem;
    color: #6c757d;
    line-height: 1.6;
    margin-bottom: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.app-store-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    
    /* Garante a responsividade em telas menores */
}

.store-button img {
    height: 75px;

    width: 179px;
    /* Ajuste a altura conforme sua preferência */
    transition: transform 0.2s ease-in-out;
}

.store-button:hover img {
    transform: translateY(-5px);
    /* Efeito sutil ao passar o mouse */
}


@media screen and (max-width: 1023px) {
    .banner .slider {
        width: 160px;
        height: 200px;
        left: calc(50% - 80px);
    }

    .banner .slider .item {
        transform:
            rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(300px);
    }



}

@media screen and (max-width: 767px) {
    .banner .slider {
        width: 100px;
        height: 150px;
        left: calc(50% - 50px);
    }

    .banner .slider .item {
        transform:
            rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(180px);
    }
}




/* Footer Styles */
.site-footer {
    background-color: #f0f2f5;
    /* Fundo mais claro para contrastar com os botões */
    color: #333;
    padding: 20px 10px;
    margin-top: 40px;
    /* Espaço entre o conteúdo principal e o footer */
    text-align: center;
    width: 100%;
    /* Ocupa a largura total */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* Conteúdo em coluna dentro do footer */
    border-radius: 15px;

    flex-wrap: wrap;
    gap: 2rem;
    background-color: #ffffff;
}

.site-footer .footer-content {
    max-width: 930px;
    /* Limita a largura do conteúdo do footer */
    width: 100%;



}

.site-footer .social-icons {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    /* Permite quebrar linha em telas pequenas */
    justify-content: center;
    gap: 10px;
    /* Espaçamento entre os botões */


}

.site-footer .social-icons a {
    /* Estilos para transformar os ícones em "botões" coloridos */
    display: flex;
    /* Para que padding e alinhamento funcionem como blocos */
    align-items: center;
    /* Centraliza verticalmente o ícone e texto */
    justify-content: center;
    /* Centraliza horizontalmente o ícone e texto */
    padding: 8px 10px;
    /* Preenchimento interno para o formato de botão */
    border-radius: 8px;
    /* Borda arredondada (ajustável para mais/menos) */
    color: #fff;
    /* Cor do ícone/texto dentro do botão */
    font-size: 0.9em;
    /* Tamanho do texto/ícone dentro do botão */
    font-weight: 600;
    /* Negrito para o texto */
    text-decoration: none;
    /* Remove sublinhado */
    transition: all 0.3s ease;
    /* Transição suave para hover */
    min-width: 120px;
    /* Largura mínima para os botões */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Sombra sutil */
    text-transform: uppercase;
    /* Texto em maiúsculas */
}

.site-footer .social-icons a i {
    margin-right: 8px;
    /* Espaçamento entre o ícone e o texto */
    font-size: 1.2em;
    /* Tamanho do ícone Font Awesome */
}

/* Cores específicas para cada rede social baseadas na imagem */
.site-footer .social-icons a.telegram {
    background-color: #2CA5E0;
}

.site-footer .social-icons a.whatsapp {
    background-color: #25D366;
}

.site-footer .social-icons a.gmail {
    background-color: #EA4335;
}

.site-footer .social-icons a.facebook {
    background-color: #1877F2;
}

.site-footer .social-icons a.linkedin {
    background-color: #0A66C2;
}

.site-footer .social-icons a.youtube {
    background-color: #FF0000;
}

.site-footer .social-icons a.instagram {
    background-color: #E4405F;
}

/* Adicionado Instagram */
.site-footer .social-icons a.discord {
    background-color: #5865F2;
}

.site-footer .social-icons a.blogger {
    background-color: #FF5722;
}

.site-footer .social-icons a.github {
    background-color: #333;
}

/* GitHub com fundo escuro */


/* Efeito hover para os botões de redes sociais */
.site-footer .social-icons a:hover {
    transform: translateY(-3px);
    /* Efeito de levantar */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    /* Sombra mais forte no hover */
    opacity: 0.9;
    /* Ligeira opacidade para indicar interação */
}

.site-footer .copyright {
    font-size: 0.9em;
    opacity: 0.8;
    color: #000000;
}

/* Ajustes para telas menores para o footer */
@media (max-width: 768px) {
    .site-footer {
        padding: 25px 15px;
    }

    .site-footer .social-icons {
        gap: 8px;
    }

    .site-footer .social-icons a {
        font-size: 0.85em;
        /* Reduz o tamanho da fonte em telas menores */
        padding: 6px 8px;
        min-width: unset;
        /* Remove largura mínima para maior flexibilidade */
        flex-basis: calc(50% - 50px);
        /* 2 itens por linha */
    }

    .site-footer .social-icons a i {
        font-size: 1.1em;

    }

    .site-footer .copyright {
        font-size: 0.8em;
    }
}

@media (max-width: 480px) {
    .site-footer {
        padding: 20px 10px;
    }

    .site-footer .social-icons {
        gap: 6px;
    }

    .site-footer .social-icons a {
        font-size: 0.8em;
        /* Mais redução em celulares */
        padding: 6px 10px;
        /* flex-basis: 50%; */
        /* Cada botão em sua própria linha em telas muito pequenas */
    }

    .site-footer .social-icons a i {
        font-size: 1em;
        margin-right: 4px;
    }
}