:root{
    background-color: #f0f2f5;
    font-size: 62.5%;
    /* background: linear-gradient(to right, #c82333, #218838); */
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    
}

h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 5.4rem;
    color: #226160;
    margin-bottom: rem;
}

h1 > span {
    font-size: 2.4rem;
    font-weight: 500;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
    font-weight: 700;
}

h3 {
    font-size: 2.8rem;
    font-weight: 500;
}



.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 1rem;
}

.container > * {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}
.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/* Botao*/
.btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #226160;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #226160;
    background-color: white;
    border-radius: 15px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}



form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

input::placeholder {
    color: #aaa;
}

.info {
    background-color: #f0f2f5; /* Cor de fundo roxa escura */
    border-radius: 8px;
    padding: 10px;
    color: #f8f9fa; /* Cor do texto branca */
    position: relative; /* Para posicionar o badge */
    border: 2px solid #c6cfd8
}



.course-title {
    font-size: 1.8em;
    margin-top: 0;
    margin-bottom: 10px;
}

.course-description {
    color: #020b14; /* Cor cinza clara para a descrição */
    font-size: 2.1em;
    line-height: 1.5;
    margin-bottom: 15px;
}

.course-level {
    display: flex;
    align-items: center;
    color: #00060c;
    font-size: 0.95em;
}

.level-icon {
    display: inline-block;
    width: 15px;
    height: 10px;
    background: linear-gradient(to right, #226160 50%, transparent 80%); /* Simula as barras */
    margin-right: 8px;
}

.badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #dce0e4; /* Cor de fundo do badge */
    color: #fff;
    border-radius: 5px;
    padding: 8px 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.badge span {
    font-size: 1.2em;
}